* {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

/*Color Defining*/
:root{
  --primary:#0197f6;
  --light-primary:#24a6f7;
  --bg:#F9F9F9;
  --white:#f6f7f8;
}

html,body{
    padding:0;
    margin:0;
    font-family: "Poppins",sans-serif;
    background-color: var(--bg);
}
.layout_container{
  padding-left:100px;
  padding-right: 50px;
  padding-top:20px;
}