.nav_con {
  width: 100%;
  height: 75px;
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  position: sticky;
}
.left {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.logo {
  width: 40px;
  height: 40px;
  border-radius: 7px;
  background-color: var(--white);
}
.logo_name {
  font-size: 1.7rem;
  font-weight: 600;
  color: var(--white);
}
.right {
  cursor: pointer;
}
.login_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--white);
  color: var(--white);
  border-radius: 100vw;
  font-size: 1.4rem;
  height: 45px;
  padding: 8px 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  transition: 0.3s;
}
.login_btn:hover {
  background-color: var(--white);
  color: var(--primary);
  font-weight: 500;
}

