.reports_con {
    display: flex;
    flex-direction: column;
    padding: 2px 8px;
    gap: 1rem;
  }
  .reports_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    height: 60px;
  }
  .title {
    font-size: 30px;
    font-weight: 600;
    color: rgb(56, 56, 56);
  }

  .search_con{
    display: flex;
    align-items: center;
    min-width: 350px;
    border-radius: 8px;
    overflow: hidden;
}
.search{
    border: none;
    outline: none;
    width: 90%;
    height: 45px;
    border-top-left-radius: 8px;
    border-bottom-left-radius:8px;
    padding: 0 12px;
    font-size: 18px;
    background-color: rgb(237, 237, 237);
    font-family: "Poppins",sans-serif;
}
.icon_con{
  background-color: var(--primary);
  width: 15%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.4s;
}
.icon{
    color: var(--white);
    font-size: 25px;
}
.icon_con:hover{
    background-color: var(--light-primary);
}