.reports_con {
  display: flex;
  flex-direction: column;
  padding: 2px 8px;
  gap: 1rem;
}
.report_header{
    display:flex;
    align-items: center;
    gap:12px
}
.back{
    font-size: 1.8rem;
}
.header{
   font-size: 30px;
  font-weight: 600;
  color: rgb(56, 56, 56);
  margin-top: 20px;
}
